@import '~antd/dist/antd.css';

body {
  background: black;
}

body, :root {
  --light-blue-lines: cornflowerblue;
  --dark-grey-background: rgba(20, 20, 30, .95);
  --light-corners: linear-gradient(to top left, cornflowerblue, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, cornflowerblue),
                   linear-gradient(to top right, cornflowerblue, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, cornflowerblue);
  --two-light-corners: linear-gradient(to top left, cornflowerblue, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, cornflowerblue);
  color: var(--light-blue-lines);
  font-size: 100%;
  display: grid;
  place-items: center;
}

.major-container {
  display: flex;
  background: var(--dark-grey-background);
  color: var(--light-blue-lines);
  background-clip: padding-box;
  padding: 10px;
}

.border-gradient {
  padding: 2px;
  background: var(--light-corners);
  border: none;
}
.border-gradient > div {
  background-color: var(--dark-grey-background);
  width: 100%;
  height: 100%;
  margin: auto;
}

.ant-btn:hover, .ant-dropdown-menu-item:hover {
  background-color: var(--dark-grey-background);
  background: linear-gradient(180deg, rgba(100,149,237,1) 0%, var(--dark-grey-background) 20%, var(--dark-grey-background) 80%, rgba(100,149,237,1) 100%);
}

.ant-btn, .ant-dropdown-menu {
  background-color: var(--dark-grey-background);
  border: var(--light-blue-lines) solid 2px;
  color: var(--light-blue-lines)
}

.ant-dropdown-menu-item {
  color: var(--light-blue-lines);
}


.App {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  justify-items: center;
  font-family: sans-serif;
  height: 95vh;
  width: 100vw;
  padding: 20px;
}

