
dialog::backdrop {
    background: rgba(47, 79, 79, 0.1);
}


.item-picker {
    width: 80%;
    height: 80%;
    --black-recess: rgba(10, 10, 10, .9);
}

.search {
    display: flex;
    flex-direction: row;
    flex: 2 0 60%;
    height: 100%;
}

.filters {
    flex: 0 0 auto;
    border: solid 2px var(--light-blue-lines)
}

.search-items-and-input {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
}

ul.search-results {
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    flex: 1 0 60%;
    background-color: var(--black-recess);
    border: var(--light-blue-lines) solid 2px;
    margin: 2px;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
}

.search-input {
    flex: 0 0 auto;
    background-color: var(--black-recess);
    border: var(--light-blue-lines) solid 2px;
    border-radius: 5px;
    margin: 2px;
}

li.item-search-result {
    flex: 1 0 50%;
    box-sizing: border-box;
    padding: 1px;
}

.item-details {
    flex: 1 0 auto;
    min-height: 80%;
    border: cornflowerblue solid 2px;
    margin-left: 4px;
    margin-bottom: 4px;
}

.item-view {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    width: 30%;
    min-height: 100%;
    flex: 1 0 auto;
}

.control-button-container {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
}

.control-button {
    margin-left: 4px;
}
