
dialog::backdrop {
    background: rgba(47, 79, 79, 0.0.5);

}

dialog {
    background: navy;
    padding: 0;
    border: 0;
}

form {
    padding: 1em;
}

.search, .item-view {
    display: inline-block;
    height: 100%;
}

ul.search-results {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
}

li.item-search-result {
    flex: 1 0 50%;
    box-sizing: border-box;
    padding: 1px;
}

button {
    background: silver;
    opacity: 100%;
}
