
.slidercontainer {
    display: block;
}

.ant-slider-vertical > .ant-slider-mark {
    left: 50%;
}

.ant-slider-vertical .ant-slider-mark-text {
    left: 0;
}

.ant-slider-mark-text {
    transform: translate(-50%, -50%);
    min-width: 100%;
}

.ant-slider:hover .ant-slider-rail {
    background-color: rgb(126, 126, 126);
}

.ant-slider-rail, div.ant-slider-rail:hover, div.ant-slider-rail::selection {
    background: rgb(126, 126, 126);
}

.ant-slider-track, ant-slider:hover ant-slider-track {
    background-color: #1890ff;
}

.time-tooltip {
    border: 2 solid var(--light-blue-lines);
}